In [1]:
import pymysql;

In [6]:
db = None

try:
    #DB 연결
    db = pymysql.connect(
        host="127.0.0.1",
        user="root",
        passwd="1234",
        port=3307,
        db="chatbot",
        charset="utf8"
    )
    print("성공")
    
    sql = '''
    CREATE TABLE tb_student (
        id int primary key auto_increment not null,
        name varchar(32),
        age int,
        address varchar(32)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    '''
    
    # cursor 객체 안의 execute문으로 쿼리 실행
    with db.cursor() as cursor:
        cursor.execute(sql)

except Exception as e:
    #실패했을 때
    print("실패")
    
finally:
    # 성공하든 실패하든 수행할 코드
    if db is not None:
        db.close()

성공

In [9]:
import pandas as pd

db = None

try:
    #DB 연결
    db = pymysql.connect(
        host="127.0.0.1",
        user="root",
        passwd="1234",
        port=3307,
        db="chatbot",
        charset="utf8"
    )
    print("성공")
    
    # python dict -> insert
    students = [
        {'name' : '김진수', 'age' : 25, 'address' : '부산'},
        {'name' : '정민주', 'age' : 21, 'address' : '부산'},
        {'name' : '도강규', 'age' : 23, 'address' : '서울'},
    ]
    
    # cursor 객체 안의 execute문으로 쿼리 실행
    for s in students:
        with db.cursor() as cursor:
            sql = '''
                insert tb_student(name, age, address) values ("%s",%d,"%s")
            ''' % (s['name'], s['age'], s['address'])
            cursor.execute(sql)
        #DML(select, insert, update, delete)
        #select를 제외한 모든 DML을 수행한 후에는 커밋을 해줘야함
    
    db.commit()

except Exception as e:
    # 실패했을 때
    print("실패")
    
finally:
    # 성공하든 실패하든 수행할 코드
    if db is not None:
        db.close()

성공

In [23]:
import pandas as pd

db = None

try:
    # DB 연결
    db = pymysql.connect(
        host="127.0.0.1",
        user="root",
        passwd="1234",
        port=3307,
        db="chatbot",
        charset="utf8"
    )
    print("성공")
    
    # 조회
    #  Dictcursor : 결과를 파이썬 딕셔너리 형태로 리턴
    with db.cursor(pymysql.cursors.DictCursor) as cursor:
        sql = '''
            select * from tb_student
        '''
        cursor.execute(sql)
        # fetchall -> 조회한 모든 데이터를 리턴
        result = cursor.fetchall()
        # fetchone -> 조회한 데이터중 첫번째 데이터만 리턴
        # result2 = cursor.fetchone()
    print(result)
    print("--------------------------")
    # print(result2)
    
    df = pd.DataFrame(result)
    print(df)

except Exception as e:
    # 실패했을 때
    print("실패")
    
finally:
    # 성공하든 실패하든 수행할 코드
    if db is not None:
        db.close()

성공
[{'id': 1, 'name': '김진수', 'age': 25, 'address': '부산'}, {'id': 2, 'name': '정민주', 'age': 21, 'address': '부산'}, {'id': 3, 'name': '도강규', 'age': 23, 'address': '서울'}]
--------------------------
   id name  age address
0   1  김진수   25      부산
1   2  정민주   21      부산
2   3  도강규   23      서울